/*nesting o anidamiento*/
@import url("https://fonts.googleapis.com/css2? family=Arima:wght@300&family=Lato&family=Lusitana&family=Merienda:wght@400;700&family=Playfair+Display:ital@1&family=Raleway:ital,wght@1,300&display=swap");
#nosotros {
  display: flex;
  justify-content: center;
  border-radius: 60px;
  width: 90%;
  height: 400px;
  background-image: linear-gradient(#ff4ba7, #ffda64);
  margin-bottom: 20px;
  padding: 60px 60px;
  margin: 5% 0 20% 4%;
  border: 4px solid #ff4ba7;
}
#nosotros p {
  font-size: 26px;
  color: white;
  text-align: center;
  margin: 30px 30px;
}

#section-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0% 10% 10% 10%;
  background-image: linear-gradient(#ff4ba7, #ffda64);
  border: 4px solid #ff4ba7;
  padding: 30px 30px;
}
#section-1 .img-s1 {
  display: flex;
  align-items: center;
  width: 300px;
  margin: 0 20px 5px 20px;
  border-radius: 30%;
}
#section-1 .p-1 {
  display: flex;
  text-align: left;
  font-size: 20px;
  color: white;
}

#section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0% 10% 10% 10%;
  background-image: linear-gradient(#ff4ba7, #ffda64);
  border: 4px solid #ff4ba7;
  padding: 30px 30px;
}
#section-2 h3 {
  font-size: 24px;
  text-align: center;
  color: white;
}
#section-2 .p-2 {
  color: white;
  font-size: 22px;
  margin-top: 10px;
}
#section-2 ul li {
  color: white;
  font-size: 20px;
  margin-top: 1opx;
}

#section-3 {
  display: flex;
  flex-direction: row;
  margin: 50px 50px;
  padding: 80px;
}
#section-3 .imagen-2 {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  width: 350px;
  height: 100%;
}

/*productos*/
.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-columns: 50px;
  grid-gap: 30px;
  background-image: linear-gradient(#ff4ba7, #ffda64);
  padding: 20px 20px 20px 20px;
  margin: auto;
  margin-bottom: 30%;
  border: 4px solid #ff4ba7;
}
.gallery-container .gallery__item {
  position: relative;
}
.gallery-container .grid-container {
  display: grid;
  border: 2px solid aqua;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 300px 300px 300px;
  gap: 10px;
}
.gallery-container .gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-container .gallery__item:nth-child(2) {
  grid-row-start: span 2;
}
.gallery-container .gallery__item:nth-child(1) {
  grid-row-start: span 2;
}
.gallery-container .gallery__item:nth-child(3) {
  grid-row-start: span 2;
}
.gallery-container .gallery__item:nth-child(4) {
  grid-row-start: span 2;
}
.gallery-container .gallery__item:nth-child(5) {
  grid-row-start: span 2;
}
.gallery-container .gallery__item:nth-child(6) {
  grid-row-start: span 2;
}

@media (min-width: 768px) {
  .gallery-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery__item:nth-child(2) {
    grid-row-start: span 2;
  }
  .gallery__item:nth-child(1) {
    grid-row-start: span 3;
  }
  .gallery__item:nth-child(3) {
    grid-row-start: span 3;
  }
  .gallery__item:nth-child(4) {
    grid-row-start: span 3;
  }
  .gallery__item:nth-child(5) {
    grid-row-start: span 3;
  }
}
@media (min-width: 1024px) {
  .gallery-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery__item:nth-child(2) {
    grid-row-start: span 2;
  }
  .gallery__item:nth-child(1) {
    grid-row-start: span 2;
  }
  .gallery__item:nth-child(3) {
    grid-row-start: span 3;
  }
  .gallery__item:nth-child(4) {
    grid-row-start: span 3;
  }
  .gallery__item:nth-child(5) {
    grid-row-start: span 3;
  }
}
.contacto-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30%;
}
.contacto-container .box {
  width: 500px;
  height: 450px;
  margin: auto 0;
  background-image: linear-gradient(#ff4ba7, #ffda64);
  text-align: center;
  padding: 35px;
  border: 3px solid #fff;
  border-radius: 70px 0 70px 0;
}
.contacto-container .box h2 {
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.contacto-container .box p {
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.contacto-container .box input {
  width: 100%;
  height: 50px;
  border-radius: 15px 0 15px 0;
  border: 2px solid #fff;
  margin-bottom: 15px;
  background: transparent;
  color: #fff;
}
.contacto-container .box a {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: deeppink;
  border-radius: 30px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
}
.contacto-container #contacto {
  width: 30px;
  height: 20%;
}

/*esto es un ejemplo mostrando la ruta y resultados*/
/* nesting o anidamiento */
/* cambios*/
header {
  background-color: #ffda64;
  margin: 0 0 15% 0;
  padding: 10px 10px;
}
header #menu-button {
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 26px;
  width: 100px;
  height: 20px;
  display: none;
}
header #menu-button #open-menu {
  display: block;
}
header #menu-button #close-menu {
  display: block;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 20px;
}
header nav ul li {
  text-decoration: none;
  color: white;
  transition: background-color 0.3s;
}
header nav ul li a {
  text-decoration: none;
  color: inherit;
  color: white;
}
header nav ul li a:hover {
  background-color: #ff4ba7;
  padding: 10px;
  transition: background-color 0, 3s;
}

h1 {
  font-family: system-ui;
  color: transparent;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 0 0.015em;
  background-image: linear-gradient(180deg, #ffe993, #eb831c);
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  margin: 0 0 10% 0;
}

section {
  display: flex;
  justify-content: center;
}
section img {
  width: 50%;
}

h5 {
  font-size: 30px;
}

.texto-estimulacion {
  text-align: center;
  font-size: 26px;
  color: white;
  margin: 60px 20px 300px 20px;
  background-image: linear-gradient(#ff4ba7, #ffda64);
  border-radius: 60px;
  padding: 40px;
  border: 3px solid #ff4ba7;
}

/* aca voy a colocar el header footer body */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.3;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #ff4ba7;
  height: 40px;
  margin: 0 0 0 0;
}
footer .redes {
  display: flex;
  flex-direction: column;
  width: 40px;
  padding: 6px;
  margin: 5px 5px;
  background-image: linear-gradient(#ffda64, white, #ff4ba7);
}
footer h4 {
  text-align: center;
  color: fuchsia;
  font-size: 25px;
}
footer p {
  color: #fff;
  font-size: 28px;
}

/*mobil*/
@media only screen and (max-width: 500px) {
  #nosotros {
    display: flex;
    flex-direction: column-reverse;
    height: 30%;
    font-size: 28px;
    width: 90%;
  }
  h1 {
    font-size: 22px;
  }
  .bateria {
    width: auto;
  }
  #section-1 {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
  }
  #section-1 .img-s1 {
    width: 90%;
  }
  #section-2 {
    width: 80%;
  }
  #section-3 {
    display: flex;
    flex-direction: column;
  }
  .gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
    width: 70%;
  }
  .contacto-container {
    display: flex;
    flex-direction: column;
    /*cambios*/
  }
  .contacto-container .box {
    width: 70%;
    margin-bottom: 50px;
    margin-left: 20px;
  }
  .contacto-container #contacto {
    width: 70%;
    margin-left: 20px;
  }
  .menu-item.active {
    overflow: hidden;
  }
  header {
    height: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    transition: height 0.3s;
    margin-bottom: 50px;
  }
  nav {
    display: block;
    width: 100%;
    height: 40%;
  }
  #menu-principal {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
  }
  #menu-button {
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 26px;
    width: 40px;
    height: 40px;
  }
  #menu-button #close-menu {
    display: block;
  }
  #menu-button #open-menu {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
