.contacto-container{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 margin-bottom: 30%;

 
 
 .box{
     width: 500px;
     height: 450px;
     margin:  auto 0;
     background-image: linear-gradient(#ff4ba7, #ffda64) ;
     text-align: center;
     padding: 35px;
     border: 3px solid #fff;
     border-radius: 70px 0 70px 0 ;

        h2{
            margin-bottom: 20px; 
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
       
        p{
            text-align: left;
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
        }
       
           
        input{
            width: 100%;
            height: 50px;
            border-radius: 15px 0 15px 0;
            border: 2px solid #fff;
            margin-bottom: 15px;
            background: transparent;
            color: #fff;
        }
       
       a{
            display: block;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background: deeppink;
            border-radius: 30px;
            color: #fff;
            text-transform: uppercase;
            margin-top: 20px;

            cursor: pointer;
            text-decoration: none;
            letter-spacing: 5px;
            font-weight: bold;
            font-size: 15px;
            color: #fff;
        }

    }

    #contacto{
        width: 30px;
        height: 20%;
       
    }
}




/*esto es un ejemplo mostrando la ruta y resultados*/