/* nesting o anidamiento */

header{
    background-color: #ffda64;
    
    margin: 0 0 15% 0;
    padding: 10px 10px;
    nav{
        
        ul{
            display: flex; 
            justify-content: space-around;
            list-style: none;
            font-size: 20px;
            
            li{
                text-decoration: none;

                a{
                    text-decoration: none;
                    color: inherit;
                    color: white;
                    align-items: center;

                    
                   &:hover{
                     background-color: #ff4ba7;
                     padding: 6px;
                     transition: background-color 0,3s;
                   }
                    
                }


    

            }
        }
    }
}




